@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
}

header {
    color: white;
    padding: 1rem;
    text-align: center;
}

header img{
    display: flex;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family:'Poppins', sans-serif;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.movie-card {
    width: 200px;
    margin: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow:scroll;
    height: 500px;
}

::-webkit-scrollbar{
    display: none;
}

.movie-card img {
    width: 100%;
    border-radius: 4px;
    height: 280px;
    cursor: pointer;
}

.movie-card h3 {
    margin-top: 0.5rem;
    font-size: 1rem;
    text-align: center;
    color: red;
    cursor: pointer;
}


.movie-card img:hover{
    box-shadow: 3px 3px 3px 3px rgb(195, 2, 2);
}


.movie-card:hover{
    box-shadow: 0.2px 4px 20px rgba(0.1, 0.1, 0.2, 0.5);
    width: 200px;
    margin: 1rem;
    padding: 0.5rem;
    height: 500px;
}

@media only screen and (max-width: 600px) {
    .movie-card {
        width:280px;
    }
    .movie-card:hover{
        width: 280px;
    }
    #search-input{
        padding-left: 15px;
        width: auto;
        height: 10px;
    }
}

